<div class="jumbotron">
  <h2 class="text-center">Welcome to Point of sale System</h2>
  <a href="/register" style="float:left;margin:10px;"
     [ngClass]="{'hidden': isLoggedIn, 'visible': !isLoggedIn}"><div class="btn btn-primary">Register</div></a>
  <a href="/login" style="float:left;margin:10px;"
     [ngClass]="{'hidden': isLoggedIn, 'visible': !isLoggedIn}"><div class="btn btn-primary">Login</div></a>
  <div style="float:right;margin:10px;"
       [ngClass]="{'hidden': !isLoggedIn, 'visible': isLoggedIn}"><div class="btn btn-primary" (click)="LogOut()">LogOut</div></div>
  <div style="float:right;margin:10px;"
       [ngClass]="{'hidden': !isAdmin, 'visible': isAdmin}">
    <div class="btn btn-primary" (click)="ToggleAdminPage()">
      {{
      AdminPageText
      }}
    </div>
  </div>
</div>
<router-outlet></router-outlet>
