<div class="jumbotron">
  <h2 class="text-center">Welcome to Point of sale System</h2>
  <a href="/register" style="float:left;margin:10px;"
     [ngClass]="{'hidden': isLoggedIn, 'visible': !isLoggedIn}"><div class="btn btn-primary">Register</div></a>
  <a href="/login" style="float:left;margin:10px;"
     [ngClass]="{'hidden': isLoggedIn, 'visible': !isLoggedIn}"><div class="btn btn-primary">Login</div></a>
  <a href="/" style="float:right;margin:10px;"
     [ngClass]="{'hidden': !isLoggedIn, 'visible': isLoggedIn}"><div class="btn btn-primary" (click)="LogOut()">LogOut</div></a>
</div>
<router-outlet></router-outlet>
